<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial</title>
    <link rel="stylesheet" href="../../../../assets/css/bootstrap-icons.css">
    <link rel="stylesheet" href="historial.css">
</head>

<body>
    <header class="headerHistorial">
        <div class="inputLupa">
            <i class="bi bi-search"></i>
            <input type="text" name="buscarHistoria" id="buscarHistoria" placeholder="Caleb...">
        </div>
        <div class="inputTipoLupa">
            <select name="tipoLupa" id="tipoLupa">
                <option value="ganadores"></option>
                <option value=""></option>
            </select>
        </div>
    </header>
</body>

</html>