<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORMULARIO PARA EVENTO</title>
    <link rel="stylesheet" href="fromEvento.css">
    <link rel="stylesheet" href="../../../../assets/css/bootstrap-icons.css">
</head>
<body>

    <h2>REGISTRO DE EVENTOS</h2>
    <div class="formEvento">
        <form action="#">
            <!-- nombre -->
            <div class="input-group">
                <label for="nobre_evento">Nombre del evento</label>
                <div class="input-icono">
                    <i class="bi bi-box"></i>
                    <input type="text" name="nombreEnveto" id="nombreEvento" placeholder="Gran sorteo refri" required>
                </div>
            </div>

            <!-- Descripcion -->
            <div class="input-group">
                <label for="nobre_evento">Descripcion del evento</label>
                <div class="input-icono">
                    <i class="bi bi-box"></i>
                    <input type="text" name="nombreEnveto" id="nombreEvento" placeholder="Gran sorteo refri" required>
                </div>
            </div>

            <!-- tiempo disponible -->
            <div class="input-group">
                <label for="nobre_evento">Fecha y hora (Inicio)</label>
                <div class="input-icono">
                    <i class="bi bi-box"></i>
                    <input type="text" name="nombreEnveto" id="nombreEvento" placeholder="Gran sorteo refri" required>
                </div>
            </div>
        </form>
    </div>
    <script src="fromEvento.js"></script>
</body>
</html>