<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>

    <link rel="stylesheet" href="../../../../assets/css/bootstrap-icons.css">
    <link rel="stylesheet" href="enventos.css">
</head>

<body>

    <!-- NAV -->
    <nav class="navEvento">

        <ul class="menuEvn">

            <li class="listaEvn">
                <a href="#" class="linkEnv">
                    <i class="bi bi-box"></i>
                    <span>Eventos</span>
                </a>
            </li>

            <li class="listaEvn">
                <a href="#" class="linkEnv">
                    <i class="bi bi-plus-lg"></i>
                    <span>Nuevo evento</span>
                </a>
            </li>

            <li class="listaEvn">
                <a href="#" class="linkEnv" target="_blank">
                    <i class="bi bi-asterisk"></i>
                    <span>Ir a ruleta</span>
                </a>
            </li>

        </ul>

    </nav>

    <!-- SECCION -->
    <section class="seccionEvn">

        <!-- CARD -->
        <div class="cardEvn">

            <!-- LINK -->
            <a href="#" class="linkCardEvn">

                <!-- FOTO -->
                <div class="fotoEvn">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRp08sOu4--AZmjGcn_WomVBw2nRed386o4cQ&s"
                        alt="Foto del evento">
                </div>

                <!-- TEXTO -->
                <div class="tiDesEvn">

                    <h2 class="nombreEvn">
                        Feliz Dia Mamá
                    </h2>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Repellat corporis impedit ipsa quas totam et reiciendis
                        expedita.
                    </p>

                </div>

            </a>

            <!-- BOTONES -->
            <div class="btnAccionEvn">

                <a href="#" class="linkEditar">
                    <i class="bi bi-pencil"></i>
                </a>

                <button class="linkEliminar">
                    <i class="bi bi-trash"></i>
                </button>

            </div>

        </div>

    </section>

</body>

</html>